<div class="container-fluid px-5 py-5">
  <div class="mb-5">
    <h1 class="display-4 fw-bold mb-4" style="color: #070485;">
      <%= @category&.name %>
    </h1>
    <div class="fs-5 text-dark">
      <% case @category&.name %>
      <% when /Capitale/ %>
        <p class="m-0">Cette section invite les voyageurs à découvrir les paysages emblématiques et les trésors architecturaux qui jalonnent la vallée du Nil au cœur de la capitale égyptienne.</p>
      <% when "Les autres Villes" %>
        <p class="m-0">Cette section invite les voyageurs à découvrir les paysages emblématiques et les trésors architecturaux qui jalonnent la vallée du Nil et le littoral méditerranéen.</p>
      <% when "Les Stations Balnéaires" %>
        <p class="m-0">Cette section propose des expériences uniques pour les voyageurs souhaitant s'éloigner des parcours classiques et découvrir des paysages naturels spectaculaires, tant sur la mer Rouge que sur la Méditerranée.</p>
      <% else %>
        <p class="m-0">Découvrez les trésors de cette catégorie pour votre itinéraire personnalisé.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% @places.group_by(&:sub_category).each do |sub_cat_name, places| %>
        <% if sub_cat_name.present? %>
          <h2 class="fw-bold mb-4 mt-5" style="color: #070485;">
            <%= places.size == 1 ? sub_cat_name.gsub("Les activités", "L'activité") : sub_cat_name %>
          </h2>
        <% end %>

        <% places.each do |place| %>
          <div class="row mb-5 g-4 align-items-stretch overflow-hidden" id="place-<%= place.id %>">
            <div class="col-12 d-md-flex <%= 'flex-row-reverse' if place.name == 'Naama Bay' %>">

              <div class="col-md-3">
                <div class="ratio ratio-4x3 bg-light rounded-1 overflow-hidden border h-100">
                  <% if place.photo_url.present? %>
                    <img src="/<%= place.photo_url.strip %>" class="img-fluid w-100 h-100 object-fit-cover" alt="<%= place.name %>">
                  <% else %>
                    <div class="d-flex align-items-center justify-content-center h-100 bg-white">
                      <i class="fa-solid fa-image text-secondary fs-1 opacity-25"></i>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="col-md-9 d-flex flex-column justify-content-between px-md-4">
                <div>
                  <h4 class="fw-bold mb-3 text-dark mt-3 mt-md-0"><%= place.name %></h4>
                  <p class="text-dark lh-lg"><%= place.description&.squish %></p>
                </div>

                <div class="d-flex justify-content-end mt-3" id="bookmark-btn-<%= place.id %>">
                  <%= render "places/bookmark_btn", place: place, trip: @trip %>
                </div>
              </div>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
